
form{
    background-color:bisque;
    border: double;
    border-radius: 15px;
    margin: auto;
}

img{
    height: 40%;
    width: 50%;
    border: solid black;
    border-radius: 15px;
    margin: auto;
}

body{
    padding-left: 30%;
    padding-right: 30%;
}

.hide{
    display: none;
}

h2{
    background-color: beige;
    border-radius: 50px;
    border-style:dashed;
    padding-left:40%;
    padding-right:50%
    
}

.CharacterSheet{
    background-color:lightslategray;
    border: double;
    border-style:double; 
    border-radius: 50px;
    margin: auto;
    justify-content:center;
}

.Your-Character{
    background-color:lightblue;
    border-radius: 50px;
    border-style:dashed;
    padding-left:40%;
    padding-right:50%;
    margin: auto;
}

.Name-Output{

    font-size: larger;
    display: flex;
    justify-content:center
    
    
}

.Sex-Output{
    font-size: larger;
    display: flex;
    justify-content:center
}

.Hp-Output{
    font-size: larger;
    display: flex;
    justify-content:center
}

.Level-Output{
    font-size: larger;
    display: flex;
    justify-content:center
}

.Race-Output{
    font-size: larger;
    display: flex;
    justify-content:center
}

.Class-Output{
    font-size: larger;
    display: flex;
    justify-content:center
}


.Alingment-Output{
    font-size: larger;
    display: flex;
    justify-content:center
}

.Stats{
    background-color:lightblue;
    border-radius: 50px;
    border-style: dashed;
    padding-left: 40%;
    padding-right: 50%;
    margin: auto;
}

.Strength-Output{
    font-size: larger;
    display: flex;
    justify-content:center
}

.Dexterity-Output{
    font-size: larger;
    display: flex;
    justify-content:center
}

.Wisdom-Output{
    font-size: larger;
    display: flex;
    justify-content:center
}

.Intelligence-Output{
    font-size: larger;
    display: flex;
    justify-content:center
}

.Charisma-Output{
    font-size: larger;
    display: flex;
    justify-content:center
}

.Constitution-Output{
    font-size: larger;
    display: flex;
    justify-content:center
}

